#container{
	width: 80%;
	display: block;
	margin-left: 10%;
	font-size: 20px;
}

#headings_bar{
	background-color: #EB5255;
	color: white;
	display: flex;
	justify-content: flex-start;
	width: 100%;
	border: solid black;
}

#serial_no,#demand_name,#demand_count,#query_count,#see_proposals_button{
	padding-top: 10px;
	padding-bottom: 10px;
	/*margin: 0px;*/
	text-align: center;
	border-right: solid;
/*	border-left: solid;*/ 
	border-color: white;
}


#serial_no{
	width: 10%;
	} 

#demand_name{
	width: 40%;
		} 

#demand_count{
	width: 15%;
	} 

#query_count{
	width: 15%;
	} 

#see_proposals_button{
	width: 20%;
	border: none; 
}

#list_container{
	margin-top: 30px;
}

.demand_bar{
	display: flex;
	justify-content: flex-start;
	width: 100%;
	background-color: #eee;
}

#demand_serial_no,#demand_demand_name,#demand_demand_count,#demand_query_count,#demand_see_proposals_button{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	border-right: solid;
}

#demand_serial_no{
	width: 10%;
	} 

#demand_demand_name{
	width: 40%;
		} 

#demand_demand_count{
	width: 15%;
	} 

#demand_query_count{
	width: 15%;
	} 

#demand_see_proposals_button{
	width: 20%;
}

.aa{
	
}