body{
	background-color: #f1f1f1;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: lighter;
}

#container{
	width: 80%;
	display: block;
	margin-left: 10%;
	font-size: 20px;
}

#headings_bar{
	background-color: #EB5255;
	color: white;
	display: flex;
	justify-content: flex-start;
	width: 100%;
/*	border: solid black;*/
	  box-shadow: 10px 10px 20px grey;
}

#serial_no,#demand_name,#demand_count,#query_count,#see_proposals_button{
	padding-top: 10px;
	padding-bottom: 10px;
	/*margin: 0px;*/
	text-align: center;
	border-right: solid;
/*	border-left: solid;*/ 
	border-color: white;
}


#serial_no{
	width: 10%;
	} 

#demand_name{
	width: 40%;
		} 

#demand_count{
	width: 15%;
	} 

#query_count{
	width: 15%;
	} 

#see_proposals_button{
	width: 20%;
	border: none; 
}

#list_container{
	margin-top: 30px;
/*	border-top: solid;
	border-bottom: solid;*/
	  box-shadow: 10px 10px 20px grey;
}

.demand_bar{
	display: flex;
	justify-content: flex-start;
	width: 100%;
	background-color: white;
}

.demand_serial_no,.demand_demand_name,.demand_demand_count,.demand_query_count,.demand_see_proposals_button{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	border-right: solid #EB5255;
}

.demand_see_proposals_button{
	border: none;
}

.demand_serial_no{
	width: 10%;
	} 

.demand_demand_name{
	width: 40%;
		} 

.demand_demand_count{
	width: 15%;
	} 

.demand_query_count{
	width: 15%;
	} 

.demand_see_proposals_button{
	width: 20%;
}

#popup_background{
	width: 100vw;
	height: 100vh;
	display: block;
	text-align: center;
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#popupbox_container{
  display: inline-block;
}

#popup_box{
  background-color: #fefefe;
  border: 1px solid #888;
  display: inline-flex;
  overflow: auto;
}

#candidate_info_tab{
	width: 300px;
	overflow: auto;
	height: 70vh;	
	padding: 15px;
}

.candidate_mini_profile{
	min-height: 200px;
	align-content: center;
	text-align: center;
}

img{
	height: 200px;
	width: 200px;
	border: solid;
	border-radius: 50%;
	border-width: 2px;
	border-color: #EB5255;
}

.candidate_proposal{
	min-height: 100px;
	overflow: auto;
}

.candidate_previouswork{
	min-height: 100px;
	overflow: auto;
}

.dots{
	display: inline-block;
}

.more_content{
	display: none;
}

