body{
  background-color: #f1f1f1;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

#container{
  display: flex;
  margin-top: 5%;
}

#query_list{
  width: 30%;
  margin-right: 2%;
  margin-left: 6%;
  max-height: 90vh;

  overflow: auto;
    box-shadow: 10px 10px 20px grey;
}

#query_heading{
  background-color: #EB5255;
  color: white;

  margin-bottom: 10px;
  height: 100px;
  line-height: 100px;
  text-align: center;

  font-size: 30px;
  
}

#response{
  /*border: solid;
  border-color: #596E78;
  border-width: 20px;
  border-width: 2px;*/
  box-shadow: 10px 10px 20px grey;
  background-color: white;

  width: 50%;
  min-height: 70vh;
  max-height: 90vh;

  overflow: auto;
}

#upper_div_in_response{
  display: flex;
  justify-content: space-between;
}

#question_display_tab{
  font-size: 30px;
  padding: 20px;
/*  text-align: left;*/
}

.candidate_mini_profile{
  display: flex;
}

#upvote_button{
  margin: 20px 20px 0 0;
}

#upvote_button_container{
  display: flex;
  flex-direction: column;
}

#candidates_answer_div{
  padding: 20px 20px 40px 20px;
}

#candidate_answer_tab{
  margin-top: 20px;
  margin-bottom: 20px;
}

img{
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

.candidate_name{
  padding-top: 10px;
}

.candidate_party{
  padding-top: 10px;
}

.candidate_answer{
  padding-top: 20px;
}

.question {
  background-color: white;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  
  border: solid;
  border-color: #EB5255;
  border-width: .05px;

  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  overflow: auto;
}

#candidate_tag_container{
  display: none;
  cursor: pointer;
}

#candidate_tag{
  background-color: white;
  color: #596E78;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .question:hover {
  background-color: #ccc; 
}

.answer {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}