body{
	background-color: #f1f1f1;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: lighter;
}

#form_box{
	background-color: #fafafa;
    margin: 100px auto;
    padding: 40px;
    width: 70%;
    min-width: 300px;
    min-height: 50%;
    border-radius: 5px;
    /* border: ; */
    box-shadow: 10px 10px 20px grey;
}


#description{

}

#heading{
	font-weight: lighter;
	font-size: 35px;
	color: #EB5255;
	margin-bottom: 10px;
	text-align: center;
	margin-top: 5px;
}

hr{
	border: solid;
	border-color: #EB5255;
	border-width: 1.5px;
}

.demand_description{
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: -100px;
	margin-top: 30px;
}

#example{
	margin-left: 50px;
	margin-right: 50px;
}

.tab{
	display: none;
}

.category_dropdown{
	margin: 10px 10px 0 10px; 
	width: 200px;
}

.single_demand_input{
	display: flex;
	flex-direction: row;	

}

#voter_login_form_buttons{
/*/*	float: right;*/
	display: block;
	overflow: auto;
}

#tab_lower_part{
	margin-top: 3%;
	margin-bottom: 5%;
}

#tab{
	display: none;
}

textarea{
	width: 90%;
	height: 100px;
 	padding: 15px;
 	overflow: scroll;
 	margin: 10px 10px 0 10px;
	background-color: #f1f1f1;
    border: none;
    overflow-x: hidden; 
}

textarea:focus,textarea:hover{
	background-color: #ddd;
	outline: none;
}

button{
		background-color: #FAFAFA; 
  		color: #596E78;
  		height: auto;
  		/*width: 130px;*/
  		padding: 10px 20px;
  		text-align: center;
  		
  		font-size: 16px;
  		border: 1px solid #596E78;
  		border-radius: 5%;
  		cursor:pointer;

  		margin-right: 10px;
	}

button:hover{
		background-color: #EB5255;
		color: #FAFAFA;
	}

#buttons{
	display: flex;
	justify-content: flex-end;

	margin-top: 30px;
}