{% extends 'home/base.html' %}

{% block title_block %}
Profile Page
{% endblock title_block %}

{% block css_script_block %}
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="{% static 'css/home/profile_page1.css' %}" type="text/css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<style>
  html,
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Roboto", sans-serif;
  }
</style>
{% endblock css_script_block %}

{% block 'body_block' %}
<!-- <body class="w3-light-grey"> -->
<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">
  <!-- The Grid -->
  <div class="w3-row-padding">
    <!-- Left Column -->
    <div class="w3-third">
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <img src="/home/aditya/Desktop/Codefundo-2019/frontend_development/images/nvmodi.jpg" style="width:100%"
            alt="Avatar" />
          <div>
            <h3 class="candidate_name">Narendra Damodardas Modi</h3>
          </div>
        </div>
        <div class="w3-container">
          <p class="party_name">
            <img src="/home/aditya/Desktop/Codefundo-2019/frontend_development/images/bjp_logo.png"
              class="party_logo" />
            Bhartiya Janta Party
          </p>
          <hr />
          <p class="w3-large">
            <b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>General Information</b>
          </p>
          <p class="age_profile">Age : 63 years</p>
          <p class="parent_profile">S/o|D/o|W/o : Damodardas</p>
          <hr />
          <p class="adress_profile">
            <i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>C-1, Someshwar Tenament, Ranip,
            Ahmedabad-382480, Gujarat
          </p>
          <p class="education_profile">
            <i class="fa fa-book fa-fw w3-margin-right w3-large w3-text-teal"></i>Post Graduate<br />
            MA From Gujarat University, Ahmedabad in 1983.<br />
            BA From Delhi University,
          </p>

          <hr />

          <p class="w3-large">
            <b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Assets</b>
          </p>

          <p>Total Movable Assets(Declared)</p>
          <div class="assets_money_profile">
            Rs 51,57,582
          </div>

          <p>Total Immovable Assets(Expected Value)</p>

          <div class="assets_money_profile">Rs 1,00,00,000</div>

          <p>Total Assets</p>

          <div class="assets_money_profile">
            Rs 1,51,57,582
          </div>
          <p>Total Income(Declared in ITR)</p>
          <div class="assets_money_profile">
            Rs 4,54,095
          </div>

          <br />
        </div>
      </div>

      <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16">
          <i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Work Experience
        </h2>
        <div class="w3-container">
          <h5 class="w3-opacity">
            <b>Front End Developer / w3schools.com</b>
          </h5>
          <h6 class="w3-text-teal">
            <i class="fa fa-calendar fa-fw w3-margin-right"></i>Jan 2015 -
            <span class="w3-tag w3-teal w3-round">Current</span>
          </h6>
          <p>
            Lorem ipsum dolor sit amet. Praesentium magnam consectetur vel
            in deserunt aspernatur est reprehenderit sunt hic. Nulla tempora
            soluta ea et odio, unde doloremque repellendus iure, iste.
          </p>
          <hr />
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Web Developer / something.com</b></h5>
          <h6 class="w3-text-teal">
            <i class="fa fa-calendar fa-fw w3-margin-right"></i>Mar 2012 -
            Dec 2014
          </h6>
          <p>
            Consectetur adipisicing elit. Praesentium magnam consectetur vel
            in deserunt aspernatur est reprehenderit sunt hic. Nulla tempora
            soluta ea et odio, unde doloremque repellendus iure, iste.
          </p>
          <hr />
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity">
            <b>Graphic Designer / designsomething.com</b>
          </h5>
          <h6 class="w3-text-teal">
            <i class="fa fa-calendar fa-fw w3-margin-right"></i>Jun 2010 -
            Mar 2012
          </h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          <br />
        </div>
      </div>

      <div class="w3-container w3-card w3-white">
        <h2 class="w3-text-grey w3-padding-16">
          <i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Proposals
        </h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>New Hospital</b></h5>
          <h6 class="w3-text-teal">
            <i class="fa fa-calendar fa-fw w3-margin-right"></i>Till Mar
            2019
          </h6>
          <p>Wsfjbauehfukserfiuhriufvhadfuhvarbiuvciufhvchacjhb</p>
          <hr />
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>London Business School</b></h5>
          <h6 class="w3-text-teal">
            <i class="fa fa-calendar fa-fw w3-margin-right"></i>2013 - 2015
          </h6>
          <p>Master Degree</p>
          <hr />
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>School of Coding</b></h5>
          <h6 class="w3-text-teal">
            <i class="fa fa-calendar fa-fw w3-margin-right"></i>2010 - 2013
          </h6>
          <p>Bachelor Degree</p>
          <br />
        </div>
      </div>

      <!-- End Right Column -->
    </div>

    <!-- End Grid -->
  </div>

  <!-- End Page Container -->
</div>
{% endblock %}