{% extends 'home/base.html' %}
{% load staticfiles %}
{% block css_script_block %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home/demands.css' %}">

<script type="text/javascript" src="{% static 'js/home/demands.js' %}"></script>

{% endblock css_script_block %}


{% block title_block %}
Profile
{% endblock title_block %}



{% block body_block %}




<div id="container">

	<div id="Ask_query_container">
		<div class="tab" style="display: block;">
			<br>Have a question? Ask the candidates.<br>
			<div class="single_demand_input">
				<div id="dropdown_and_textarea_container">
					<div id='dropdown_container'>
						<select class="category_dropdown">
							<option value="">Select Category</option>
							<option value="mlml">mlml</option>
							<option value="ma">ma</option>
							<option value="pa">pa</option>
							<option value="ni">ni</option>
							<option value="sa">sa</option>
						</select>
					</div>
					<textarea type="text"
						placeholder="Add a brief & precise description of your demand..."></textarea><br><br>
				</div>
				<div id="ask_question_button">
					<button id="submit_query_button">Submit</button>
				</div>
			</div>
		</div>
	</div>

	<hr>

	<div id="profile_cards_container" style="display: flex; flex-direction: column;">
		<div id="profile_cards_heading_container">Your Candidates</div>

		<div style="display: flex; flex-direction: row;">
			<div class="card">
				<img src="{% static 'images/male.PNG' %}" alt="John" style="width:100%" class="profile_card_photo" />
				<h1 class="profile_card_tilte">Candidate 1</h1>
				<p class="profile_card_party">Party 1</p>
				<img src="{% static 'images/bjp_logo.png' %}" class="profile_card_party_img" alt="party-logo" />

				<p>
					<a href="{% url 'Candidate-Profile'%}"><button class="profile_card_button">View Profile</button></a>

				</p>
			</div>

			<div class="card">
				<img src="{% static 'images/female.PNG' %}" alt="John" style="width:100%" class="profile_card_photo" />
				<h1 class="profile_card_tilte">Candidate 2</h1>
				<p class="profile_card_party">Party 2</p>
				<img src="{% static 'images/congress.png' %} " class="profile_card_party_img" alt="party-logo" />

				<p>
					<a href="{% url 'Candidate-Profile'%}"><button class="profile_card_button">View Profile</button></a>

				</p>
			</div>

			<div class="card">
				<img src="{% static 'images/male.PNG' %}" alt="John" style="width:100%" class="profile_card_photo" />
				<h1 class="profile_card_tilte">Candidate 3</h1>
				<p class="profile_card_party">Party 3</p>
				<img src="{% static 'images/flag-of-samajwadi-party_125108_730x419-m.jpg' %}"
					class="profile_card_party_img" alt="party-logo" />

				<p>
					<a href="{% url 'Candidate-Profile'%}"><button class="profile_card_button">View Profile</button></a>

				</p>
			</div>
		</div>
	</div>

	<hr>

	<div id="demands_heading_container">
		List of popular demands
	</div>
	<div id="headings_bar">
		<div id="serial_no">#</div>
		<div id="demand_name">Demand</div>
		<div id="demand_count">Reported by how many</div>
		<div id="query_count">Queries asked</div>
		<div id="see_proposals_button">Candidates' proposals</div>
	</div>
	<div id="list_container">
		<div class="demand_bar">
			<div class="demand_serial_no">1</div>
			<div class="demand_demand_name">Healthcare</div>
			<div class="demand_demand_count">687626</div>
			<div class="demand_query_count">6846</div>
			<div class="demand_see_proposals_button">
				<button onclick='display_popup_background();'>Compare candidates</button>
			</div>
		</div>

		<div class="demand_bar">
			<div class="demand_serial_no">2</div>
			<div class="demand_demand_name">Security</div>
			<div class="demand_demand_count">687626</div>
			<div class="demand_query_count">6846</div>
			<div class="demand_see_proposals_button">
				<button onclick='display_popup_background();'>Compare candidates</button>
			</div>
		</div>

		<div class="demand_bar">
			<div class="demand_serial_no">3</div>
			<div class="demand_demand_name">Roads</div>
			<div class="demand_demand_count">687626</div>
			<div class="demand_query_count">6846</div>
			<div class="demand_see_proposals_button">
				<button onclick='display_popup_background();'>Compare candidates</button>
			</div>
		</div>

		<div class="demand_bar">
			<div class="demand_serial_no">4</div>
			<div class="demand_demand_name">Sewerage</div>
			<div class="demand_demand_count">687626</div>
			<div class="demand_query_count">6846</div>
			<div class="demand_see_proposals_button">
				<button onclick='display_popup_background();'>Compare candidates</button>
			</div>
		</div>

		<div class="demand_bar">
			<div class="demand_serial_no">5</div>
			<div class="demand_demand_name">Drinking water</div>
			<div class="demand_demand_count">687626</div>
			<div class="demand_query_count">6846</div>
			<div class="demand_see_proposals_button">
				<button onclick='display_popup_background();'>Compare candidates</button>
			</div>
		</div>
	</div>
</div>
<div id="comparison_popup">
	<div id="popup_background">
		<div id="popupbox_container">
			<div id="popup_box">
				<div id="candidate_info_tab">
					<div class="candidate_mini_profile">
						<div class="candidates_image_container">
							<img src="{% static 'images/male.PNG' %}" class="candidates_image">
							<br><br>
						</div>
						<div class="candidate_name">Name name name</div>
						<div class="candidate_party">Party party</div>
					</div>
					<hr>
					<div class="candidate_proposal">
						<h2>Proposals</h2>
						<p>I propose this and this and this and this and this and this and this and this and this
							and this and this and<span class="dots">. . .</span> <span class="more_content">this and
								this and this and this and this and this and this and this and this and this and
								this and this and this and this and this and this and this and this and this and
								this and this and this and this and this and this and this and this and this and
								this and this and this and this and this and this and this and this and this and
								this and this and</span> </p>
						<button class="see_more" onclick="seeMore();">See more</button>
					</div>
					<hr>
					<div class="candidate_previouswork">
						<h2>Previous work</h2>
						<p>I have previosly done this and this and this and this and this and this and this and this
							and this and this and this and<span class="dots">. . .</span> <span
								class="more_content">this and this and this and this and this and this and this and
								this and this and this and this and this and this and this and this and this and
								this and this and this and this and this and this and this and this and this and
								this and this and this and this and this and this and this and this and this and
								this and this and this and this and this and</span> </p>
						<button class="see_more" onclick="seeMore();">See more</button>
					</div>
				</div>

				<div id="candidate_info_tab">
					<div class="candidate_mini_profile">
						<div class="candidates_image_container">
							<img src="{% static 'images/female.PNG' %} " class="candidates_image">
							<br><br>
						</div>
						<div class="candidate_name">Name name name</div>
						<div class="candidate_party">Party party</div>
					</div>
					<hr>
					<div class="candidate_proposal">
						<h2>Proposals</h2>
						<p>I propose this and this and this and this and this and this and this and this and this
							and this and this and<span class="dots">. . .</span> <span class="more_content">this and
								this and this and this and this and this and this and this and this and this and
								this and this and this and this and this and this and this and this and this and
								this and this and this and this and this and this and this and this and this and
								this and this and this and this and this and this and this and this and this and
								this and this and</span> </p>
						<button class="see_more" onclick="seeMore();">See more</button>
					</div>
					<hr>
					<div class="candidate_previouswork">
						<h2>Previous work</h2>
						<p>I have previosly done this and this and this and this and this and this and this and this
							and this and this and this and<span class="dots">. . .</span> <span
								class="more_content">this and this and this and this and this and this and this and
								this and this and this and this and this and this and this and this and this and
								this and this and this and this and this and this and this and this and this and
								this and this and this and this and this and this and this and this and this and
								this and this and this and this and this and</span> </p>
						<button class="see_more" onclick="seeMore();">See more</button>
					</div>
				</div>

				<div id="candidate_info_tab">
					<div class="candidate_mini_profile">
						<div class="candidates_image_container">
							<img src="{% static 'images/male.PNG' %}" class="candidates_image">
							<br><br>
						</div>
						<div class="candidate_name">Name name name</div>
						<div class="candidate_party">Party party</div>
					</div>
					<hr>
					<div class="candidate_proposal">
						<h2>Proposals</h2>
						<p>I propose this and this and this and this and this and this and this and this and this
							and this and this and<span class="dots">. . .</span> <span class="more_content">this and
								this and this and this and this and this and this and this and this and this and
								this and this and this and this and this and this and this and this and this and
								this and this and this and this and this and this and this and this and this and
								this and this and this and this and this and this and this and this and this and
								this and this and</span> </p>
						<button class="see_more" onclick="seeMore();">See more</button>
					</div>
					<hr>
					<div class="candidate_previouswork">
						<h2>Previous work</h2>
						<p>I have previosly done this and this and this and this and this and this and this and this
							and this and this and this and<span class="dots">. . .</span> <span
								class="more_content">this and this and this and this and this and this and this and
								this and this and this and this and this and this and this and this and this and
								this and this and this and this and this and this and this and this and this and
								this and this and this and this and this and this and this and this and this and
								this and this and this and this and this and</span> </p>
						<button class="see_more" onclick="seeMore();">See more</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock body_block %}